In [135]:
import pandas as pd
import datetime
import re

In [136]:
df = pd.read_csv('../data-analysis-pipeline/results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False

In [137]:
null_cols = df.isnull().sum()
null_cols

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [138]:
df['date'] = pd.to_datetime(df['date'])

In [139]:
df.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

In [140]:
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [141]:
df = df.loc[(df['year'] > 1990)]

In [142]:
coleliminar = ['date','city','country', 'neutral', 'day', 'month']
df = df.drop(coleliminar, axis=1)

In [143]:
def tournament(e):
    listtourn = ['CONCACAF Nations League', 'Gold Cup qualification', 'Oceania Nations Cup', 'Friendly', 'African Cup of Nations qualification', 'UEFA Euro', 'African Nations Championship qualifying', 'UEFA Nations League', 'African Cup of Nations', 'Copa América qualification', 'Gold Cup', 'FIFA World Cup', 'Oceania Nations Cup qualification', 'CONCACAF Nations League qualifying', 'Confederations Cup', 'UEFA Euro qualification', 'Copa América', 'FIFA World Cup qualification']
    if e in listtourn:
        return e
    else:
        return 'No vale'

df['tournament'] = df['tournament'].apply(tournament)

In [144]:
df = df.loc[(df['tournament']!= 'No vale')]

In [145]:
df

,home_team,away_team,home_score,away_score,tournament,year
16308,Burkina Faso,Mali,2,0,Friendly,1991
16309,Burkina Faso,Niger,2,2,Friendly,1991
16311,Burkina Faso,Nigeria,1,1,African Cup of Nations qualification,1991
16312,Ghana,Benin,4,0,African Cup of Nations qualification,1991
16313,Morocco,Ivory Coast,3,1,African Cup of Nations qualification,1991
...,...,...,...,...,...,...
41238,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,2019
41239,Guinea,Senegal,1,0,African Nations Championship qualifying,2019
41240,Mali,Mauritania,2,0,African Nations Championship qualifying,2019
41241,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,2019
41242,Ivory Coast,Niger,1,0,African Nations Championship qualifying,2019

In [89]:
def points1(row1,row2):
    row = 0
    if row1 > row2:
        row +=3
    elif row1 == row2:
        row +=1
    elif row1 < row2:
        row = 0
    return row

In [161]:
def points(value1,value2):
    value = 0
    for index, row in pd.DataFrame.iterrows():
        if value1 > value2:
            value +=3
        elif value1 == value2:
            value +=1
        elif value1 < value2:
            value = 0
    return index, value

In [162]:
df[index,'local_points'] = df.apply(points(df['home_score'], df['away_score']))

TypeError: iterrows() missing 1 required positional argument: 'self'

In [90]:
series = pd.DataFrame(df[['home_score', 'away_score']])

In [91]:
series

       home_score  away_score
16308           2           0
16309           2           2
16310           4           0
16311           1           1
16312           4           0
...           ...         ...
41238           0           0
41239           1           0
41240           2           0
41241           0           0
41242           1           0

[24935 rows x 2 columns]

In [100]:
for index, row in series.iterrows():
    series.loc[index,"local_points"] = points(row['home_score'], row['away_score'])

In [102]:
for index, row in series.iterrows():
    series.loc[index,"away_points"] = points(row['away_score'], row['home_score'])

In [103]:
series

       home_score  away_score  local_points  away_points
16308           2           0           3.0          0.0
16309           2           2           1.0          1.0
16310           4           0           3.0          0.0
16311           1           1           1.0          1.0
16312           4           0           3.0          0.0
...           ...         ...           ...          ...
41238           0           0           1.0          1.0
41239           1           0           3.0          0.0
41240           2           0           3.0          0.0
41241           0           0           1.0          1.0
41242           1           0           3.0          0.0

[24935 rows x 4 columns]

In [92]:
series['local points'] = series.apply(points(series['home_score'], series['away_score']))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().